.App{
    text-align: center;
    background-color: #00246B;
    height: 100vh;
}

.box{
    margin: 0 auto;

    background-color: #CADCFC;
    padding: 16px;
    width: 50%;
    height: 40%;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    margin-top: 4% ;
}

ul{
    list-style: none;
}

li{
    padding: 10px;
    font-size: 20px;
    margin: 1rem;
    width: 15rem;
}
.question{
   height: 3rem;
}

.result{
    margin: 0 auto;

    background-color: #CADCFC;
    padding: 16px;
    border-radius: 10px;
    width: 30%;
    height: auto;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    margin-top: 5% ;
}


@media screen and (max-width: 480px) {
    .box {
        margin: 0 auto;
        margin-top: 5rem;
        padding: 16px;
        width: fit-content;
        height: 55%;
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
        background-color: rgb(232, 247, 255);


    }
    .result{
        margin: 0 auto;
    
        background-color: rgb(232, 247, 255);
        padding: 16px;
        border-radius: 10px;
        width: max-content;
        height: auto;
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
        margin-top: 30% ;
    }
    li{
        margin: 0.5rem;
        margin-top: 15px;
    }

    .question{
        margin-bottom: 3rem;
    }
  }
